<div class="card-preview-container" [ngClass]="{'alternative': typeCard === 2}">
  <h1>{{characterData?.name}}</h1>
  <h3>Peso: {{characterData?.mass}}</h3>
  <h3>Altura: {{characterData?.height}}</h3>
  <ng-container *ngIf="typeCard === 2">
    <h3>Color de Cabello: {{characterData?.hair_color}}</h3>
    <h3>Color de Piel: {{characterData?.skin_color}}</h3>
    <h3>Color de ojos: {{characterData?.eye_color}}</h3>
    <h3>Año de Nacimiento: {{characterData?.birth_year}}</h3>
    <h3>Sexo: {{characterData?.gender}}</h3>
  </ng-container>
</div>
