.card-preview-container{
    display: flex;
    flex-direction: column;
    background: #323259;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    margin: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
    h3{
        margin: 0;
    }
    &.alternative{
      h1{
        align-self: center;
      }
    }
}
