<div class="population-container">
  <ng-container *ngIf="!loadPlanets; else showLoading">
    <div class="header-result">
      <h1 *ngIf="page > 0">Pagina {{page}}</h1>
      <div class="dropdown">
        <button class="dropbtn">Numero de Resultados</button>
        <div class="dropdown-content">
          <a href="javascript:void(0)" (click)="showNumberResults(10)">10</a>
          <a href="javascript:void(0)" (click)="showNumberResults(20)">20</a>
          <a href="javascript:void(0)" (click)="showNumberResults(30)">30</a>
        </div>
      </div>
    </div>
    <div class="planet-card" *ngFor="let planet of planetsData">
      <h1>Planeta {{planet?.name}}</h1>
      <h2>Residentes</h2>
      <ul *ngFor="let character of planet?.residents">
        <li>{{character | hideUrl}}</li>
      </ul>
    </div>
    <div class="buttons">
      <a href="javascript:void(0)" *ngIf="previousPage" (click)="requestPlanets(previousPage)">Anterior</a>
      <a href="javascript:void(0)" *ngIf="nextPage" (click)="requestPlanets(nextPage)">Siguiente</a>
    </div>
  </ng-container>
  <ng-template #showLoading>
      <app-spinner></app-spinner>
  </ng-template>
</div>
