<div class="info-container">
    <app-card-preview [characterData]="dataCharacter" [typeCard]="2" *ngIf="!loading; else showLoading"></app-card-preview>
    <ng-template #showLoading>
        <app-spinner></app-spinner>
    </ng-template>
</div>
