:host{
  width: 12rem;
}
.sidebar{
  position: absolute;
  min-height: 100%;
  width: 12rem;
  background: #323259;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25rem;
  ul{
    padding-inline-start: 25px;
    li {
      list-style-type: none;
      padding-top: 15px;
      cursor: pointer;
    }
  }
}
