.principal-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  top: calc(4.90rem);
  @media (min-width: 320px) and (max-width: 425px)  {
    top: calc(3.90rem);
  }
}
