<!--The content below is only a placeholder and can be replaced.-->
<app-navbar (openMenuEvent)="sidebarEvent($event)"></app-navbar>
<div class="principal-container">
  <app-sidebar *ngIf="showSidebar"></app-sidebar>
  <router-outlet></router-outlet>
</div>
