<div class="people-container">
    <app-search-bar (searchInputEvent)="getSearchQuery($event)"></app-search-bar>
    <div class="results-container" *ngIf="!loading; else spinner">
        <app-card-preview *ngFor="let character of results | orderResult:orderFilter" [characterData]="character" [routerLink]="['/personaje', character.name]"></app-card-preview>
    </div>
    <ng-template #spinner>
        <app-spinner></app-spinner>
    </ng-template>
</div>
