:host{
  flex-grow: 3;
}
.people-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-top: 50px;
  .results-container{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    overflow-y: scroll !important;
  }
}
