/* You can add global styles to this file, and also import other style files */
@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF'
  }
  @return unquote($value)
}

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);

html{
  min-height: 100%;
  background: #1B2735;
  background-repeat: no-repeat;
  background-size: auto 5000px;
  body{
    margin: 0px;
  }
}
