.navbar-container{
  position: fixed;
  top: 0;
  background: #323259;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 3000;
  box-shadow: 0 0.5rem 1rem 0 #1a1f33;
  height: 4.75rem;
  @media (min-width: 320px) and (max-width: 425px)  {
    height: 3.75rem;
  }
  .logo{
    flex-grow: 1;
    align-self: center;
    display: flex;
    justify-content: center;
    padding-right: 20px;
    img{
      height: 35px;
      align-self: center;
      @media (min-width: 320px) and (max-width: 425px)  {
        height: 20px;
      }
    }
  }
  i{
    align-self: center;
    font-size: 2rem;
    padding-left: 10px;
    color: white;
  }
}


