<div class="navbar-container">
  <i class="icofont-navigation-menu" [ngClass]="{'icofont-close-line': showMenu}" (click)="openMenu()"></i>
  <div class="logo">
    <img src="assets/img/sw_logo_horiz.png" alt="">
  </div>
</div>
